@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.logo{
    margin-left: 20px;
    vertical-align: middle;
}
.title{
    display: inline;
    vertical-align: middle;
}
header{
    background-color: white;
}
body{
    background-color: rgb(128, 128, 128, 0.2);
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    font-family: 'Times New Roman', Times, serif;
}
main{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 1000px;
} 
.container1{
   background-color: white;
   border-radius: .2em;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 35px;
}
.btn1{
    background-color: blue;
    color: white;
    border-radius: .2em;
    border-color: blue;
}
.btn2{
    color: gray;
    border-radius: .2em;
    border-color: gray;
}
.container2{
    background-color: white;
    border-radius: .2em;
    margin-top: 4px;
    padding-top: 3px;
    margin-bottom: 0;
    padding-bottom: 30px;
}
h3{
    margin-left: 35px;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 15px;
}
.idem{
    color: white;
    border-radius: 3em;
    font-style: inherit;
    font-size: 0.7em;
}
.edit{
    background-color: blue;
    border: 3px solid blue;
}
.q1{
    background-color: violet;
    border: 3px solid violet;
}
.rec{
    background-color: greenyellow;
    border: 3px solid greenyellow;
}
.mob{
    background-color: orange;
    border: 3px solid orange;
}
.web{
    background-color: purple;
    border: 3px solid purple;
}
.sale{
    background-color: green;
    border: 3px solid green;
}
.check{
    border: 1px solid green;color: green;border-radius: 100%;
}
.cross{
    border: 1px solid red;
    border-radius: 100%;
    color: red; 
}
